<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Player</title>
    <!-- Agrega aquí la referencia a tu biblioteca de reproductor de video -->
</head>

<body>
    <video id="my-video" class="video-js" controls preload="auto" width="640" height="264">
        <source src="/static/movies/movie1.mp4" type="video/mp4">
        <!-- Agrega aquí más fuentes de video según sea necesario -->
    </video>

    <!-- Agrega aquí cualquier otra interfaz que desees, como una lista de películas disponibles -->
</body>

</html>